<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Peru Gravity
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	header.Peru
		figure.logo
			img.img(src="img/logo.png", alt="logo")
		nav.navbar
			ul.menu
				li.item
					a(href="#") Diseño web
				li.item
					a(href="#") Marketing On-line
				li.item
					a(href="#") Hosting
				li.item
					a(href="#") Dibujo y Animación
	section.Hero
		.contenedor
			h2.title!= "Aloja tus sitios <strong>con una empresa <span>confiable</span></strong>"
			p.descripcion Conía en una empresa de tu localidad y con quien puedas tomar un cafe

			a.btn(href="#") Empieza Ahora

	section.Precios
		.contenedor
			h2.title Que Ofrecemos
			p.descripcion Escoge un plan Hosting y enlazalo a tu dominio
			.contenedor
				.item
					h3.title Gravedad Basico
					span.precio!= "Empieza con <span>18$</span> / año"
					p.descripcion Es el mejor plan que podras obtener. Con 500 MB en disco. 5 GB ancho de banda. 25 cuentas de correo y mas.
					a.btn(href="#") Ver el plan
				.item
					h3.title Gravedad personal
					span.precio!= "Empieza con <span>18$</span> / año"
					p.descripcion Si buscal al mejor, este es tu plan. Con 1 GB de espacio. 10 GB ancho de banda. 50 cuentas de correo, y pare de contar.
					a.btn(href="#") Ver el plan
				.item
					h3.title Gravedad Plus
					span.precio!= "Empieza con <span>18$</span> / año"
					p.descripcion Más siempre es bueno. Con 2 GB en disco. 20 GB ancho de banda 25 cuentas de correo y más.
					a.btn(href="#") Ver el plan
	section.Diseno
		.container
			.item
				h2.title Diseño web
				p.descripcion.
					Somos una empresa de diseño web y programación web con 9 años de experiencia; utilizamos las mejores herramientas front-end para desarrollar tu proyecto web.
				p.descripcion.
					En Peru Gravity usamos: html5, css3, jquery, javascript, json, stylus, normalizer, modernizer, node.js, backbone.js. Tu empresa se merece solo lo mejor.
				a.btn(href="#") Mas detalles
			.item
				img.img(src="img/equipo.jpg", alt="#")
	section.Portafolio
		h2.title Nuestro Trabajo
		ul.menu
			li
				a(href="#") Todos
			li
				a(href="#") Diseño
			li
				a(href="#") Alojamiento
			li
				a(href="#") Animación
		.contenedor
			a(href="#").item
				img.img(src="img/proyecto01.jpg", alt="proyecto01")
			a(href="#").item
				img.img(src="img/proyecto02.jpg", alt="proyecto02")
			a(href="#").item
				img.img(src="img/proyecto03.jpg", alt="proyecto03")
			a(href="#").item
				img.img(src="img/proyecto04.jpg", alt="proyecto04")
			a(href="#").item
				img.img(src="img/proyecto05.jpg", alt="proyecto05")
			a(href="#").item
				img.img(src="img/proyecto06.jpg", alt="proyecto06")
	section.Testimonios
		.contenedor
			h2.title Testimonios
			p.testimonio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel metus eget dui sollicitudin semper ut et eros. Maecenas pellentesque ipsum a ipsum molestie, sit amet porttitor dui commodo.
			span.nombre Chris Patton

			ul.personas
				li
					a(href="#")
						img.img(src="img/perfil01", alt="perfil01")
				li
					a(href="#")
						img.img(src="img/perfil02", alt="perfil02")
				li
					a(href="#")
						img.img(src="img/perfil03", alt="perfil03")
	
