<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Peru Gravity
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	style.
		@font-face{font-family:Montserrat;font-style:normal;font-weight:400;src:local("Montserrat Regular"),local(Montserrat-Regular),url(//fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYFQlYEbsez9cZjKsNMjLOwM.eot#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format("woff")}@font-face{font-family:Montserrat;font-style:normal;font-weight:600;src:local("Montserrat SemiBold"),local(Montserrat-SemiBold),url(//fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl08G3e9iX24ta7lLMfbqPFME.eot#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl06VlZKEoJGujTpfWnQT9bUY.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v12/q2OIMsAtXEkOulLQVdSl024H_cQCpNmkmj7HsMzmiiM.woff) format("woff")}@font-face{font-family:Lato;font-style:normal;font-weight:400;src:local("Lato Regular"),local(Lato-Regular),url(//fonts.gstatic.com/s/lato/v14/nQhiC-wSiJx0pvEuJl8d8A.eot#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff")}@font-face{font-family:Lato;font-style:normal;font-weight:700;src:local("Lato Bold"),local(Lato-Bold),url(//fonts.gstatic.com/s/lato/v14/sBtfDPlEIwvKKU53nAG7AQ.eot#) format("eot"),url(//fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2"),url(//fonts.gstatic.com/s/lato/v14/wkfQbvfT_02e2IWO3yYueQ.woff) format("woff")}body{margin:0;padding:0;font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;overflow-x:hidden}ul{padding-left:0}.Peru{background:#475057;display:flex;flex-direction:column;align-items:center;text-align:center;padding:.5em 1em 2em}.Peru .logo{margin:0}.Peru .logo .img{width:60%}.Peru .navbar{position:relative}.Peru .navbar .btn{display:none}.Peru .navbar .menu{margin:0;display:flex;list-style:none;margin-top:3em}.Peru .navbar .menu .item a{background:#0b6a99;font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-decoration:none;text-transform:uppercase;padding:1em 2.5em;font-weight:600;padding:2.5em;transition:.3s}.Peru .navbar .menu .item a:hover{background:#2f2f2f}.Hero{background:url(../img/bg.jpg) no-repeat 50%;background-size:cover;padding:5em 7em}.Hero .contenedor{width:50%}.Hero .contenedor h2{margin:0;font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-transform:uppercase;font-weight:400!important;font-size:28.8px;font-size:1.8rem;margin-bottom:1em}.Hero .contenedor h2 strong{font-size:32px;font-size:2rem}.Hero .contenedor h2 strong span{font-size:35.2px;font-size:2.2rem}.Hero .contenedor .descripcion{font-size:20.8px;font-size:1.3rem;margin-bottom:3em}.Hero .contenedor .btn,.Hero .contenedor .descripcion{font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff}.Hero .contenedor .btn{background:#0b6a99;text-decoration:none;text-transform:uppercase;padding:1em 2.5em;font-weight:600;transition:.3s}.Hero .contenedor .btn:hover,.Precios{background:#2f2f2f}.Precios{padding:5em 7em}.Precios .contenedor{text-align:center}.Precios .contenedor .title{font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-transform:uppercase;font-size:28.8px;font-size:1.8rem}.Precios .contenedor>.descripcion{font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;color:#666;margin-bottom:5em}.Precios .contenedor .contenedor{display:grid;grid-template-columns:repeat(3,1fr);grid-gap:50px}.Precios .contenedor .contenedor .item{background:#666;padding:1em 2em 2em;display:grid;justify-items:center;transition:.3s}.Precios .contenedor .contenedor .item .title{font-size:20.8px;font-size:1.3rem}.Precios .contenedor .contenedor .item .precio{color:#c5c5c5;border-bottom:1px solid #c5c5c5;width:100%;padding-bottom:1em}.Precios .contenedor .contenedor .item .precio span{color:#f59103}.Precios .contenedor .contenedor .item .descripcion{color:#c5c5c5}.Precios .contenedor .contenedor .item .btn{background:#0b6a99;font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-decoration:none;text-transform:uppercase;padding:1em 2.5em;font-weight:600;transition:.3s}.Precios .contenedor .contenedor .item .btn:hover{background:#2f2f2f}.Precios .contenedor .contenedor .item .btn{padding:.8em 2em;width:50%}.Precios .contenedor .contenedor .item .btn:hover{background:#0b6a99}.Precios .contenedor .contenedor .item:nth-of-type(2) .btn{background:#f59103}.Precios .contenedor .contenedor .item:nth-of-type(3) .btn{background:#d0615f}.Precios .contenedor .contenedor .item:hover{background:#3f3f3f}.Diseno .container{display:grid;grid-template-columns:1fr 1fr}.Diseno .container .item{background:#f3f3f3;text-align:center}.Diseno .container .item .title{font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-transform:uppercase;font-size:28.8px;font-size:1.8rem;color:#666}.Diseno .container .item .descripcion{color:#fff;color:#666}.Diseno .container .item .btn,.Diseno .container .item .descripcion{font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue}.Diseno .container .item .btn{background:#0b6a99;color:#fff;text-decoration:none;text-transform:uppercase;padding:1em 2.5em;font-weight:600;transition:.3s}.Diseno .container .item .btn:hover{background:#2f2f2f}.Diseno .container .item .btn{margin-top:2em}.Diseno .container .item:first-of-type{padding:2em 5em;display:flex;flex-direction:column;justify-content:center;align-items:center}.Diseno .container .item:nth-of-type(2) .img{width:100%;filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" /><feFuncG type="linear" slope="0.5" /><feFuncB type="linear" slope="0.5" /></feComponentTransfer></filter></svg>#filter');filter:brightness(.5)}.Portafolio{text-align:center;padding:4em 0}.Portafolio .title{font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-transform:uppercase;font-size:28.8px;font-size:1.8rem;color:#666;margin-bottom:2em}.Portafolio .menu{display:flex;justify-content:center;list-style:none;margin-bottom:4em}.Portafolio .menu li a{color:#666;text-decoration:none;text-transform:uppercase;font-weight:600;padding:2em;transition:.3s}.Portafolio .menu li a:hover{color:#2f2f2f}.Portafolio .contenedor{display:grid;grid-template-columns:repeat(3,1fr)}.Portafolio .contenedor img{width:100%}.Portafolio .contenedor .item{transition:.3s}.Portafolio .contenedor .item:hover{transform:scale(1.1)}.Testimonios{background:url(../img/testimonios.jpg) no-repeat 50%;background-size:cover}.Testimonios .contenedor{background:#000;background:rgba(0,0,0,.5);text-align:center;padding:5em 8em}.Testimonios .contenedor .title{font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-transform:uppercase;font-size:28.8px;font-size:1.8rem;margin-bottom:2em}.Testimonios .contenedor .testimonio{font-family:Montserrat,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;font-size:22.4px;font-size:1.4rem}.Testimonios .contenedor .nombre{font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;text-transform:uppercase;color:#fff;font-weight:700;font-size:19.2px;font-size:1.2rem}.Testimonios .contenedor .personas{display:flex;justify-content:center}.Testimonios .contenedor .personas li{width:80px;height:80px;list-style:none;border-radius:50%;overflow:hidden;margin:1em;box-shadow:4px 4px 20px 0 #fff}.Testimonios .contenedor .personas li img{height:100%}.Footer{background:#2f2f2f}.Footer .informacion{padding:3em 7em}.Footer .informacion .contenedor{display:grid;grid-template-columns:repeat(3,1fr);width:50%}.Footer .informacion .contenedor .title{margin:0;font-family:Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue;color:#fff;text-transform:uppercase;font-size:28.8px;font-size:1.8rem;font-size:19.2px;font-size:1.2rem}.Footer .informacion .contenedor .item .menu{list-style:none}.Footer .informacion .contenedor .item .menu .item{line-height:40px;line-height:2.5rem}.Footer .informacion .contenedor .item .menu .item a{color:#666;text-decoration:none;transition:.3s}.Footer .informacion .contenedor .item .menu .item a:hover{color:#fff}.Footer .informacion .contenedor .item:nth-of-type(2) .menu{display:flex}.Footer .informacion .contenedor .item:nth-of-type(2) .menu li a{padding-right:1.5em;font-size:24px;font-size:1.5rem}.Footer .derechos{background:#000;padding:1em;color:#666;display:flex;justify-content:space-around}.Footer .derechos a{color:#0b6a99;text-decoration:none;transition:.3s}.Footer .derechos a:hover{color:#fff}@media (max-width:768px){.Peru{padding:.5em 0 2em}.Peru .navbar .menu .item a{padding:1.5em 1em}.Hero{padding:5em 2em}.Hero .contenedor{width:80%}.Diseno .container,.Precios .contenedor .contenedor{grid-template-columns:1fr}.Portafolio .contenedor{grid-template-columns:1fr 1fr}.Footer .informacion .contenedor{width:100%;grid-template-columns:1fr}}@media (max-width:500px){.Peru .navbar{width:100%;padding-bottom:1em}.Peru .navbar .btn{display:block;background:none;border:none;color:#fff;font-size:2rem;position:absolute;right:2em}.Peru .navbar .menu{display:none}.Hero .contenedor{width:100%;text-align:center}.Precios{padding:5em 2em}.Portafolio .menu{overflow-x:scroll}.Portafolio .menu li a{padding:1em}.Portafolio .contenedor{grid-template-columns:1fr}.Testimonios .contenedor{padding:5em 2em}.Testimonios .contenedor .personas li{width:50px;height:50px}.Footer .derechos{flex-direction:column}.Footer .derechos span{margin-bottom:2em}}
body
	header.Peru
		figure.logo
			img.img(src="img/logo.png", alt="logo")
		nav.navbar
			button.btn
				span.fa.fa-bars
			ul.menu
				li.item
					a(href="#") Diseño web
				li.item
					a(href="#") Marketing On-line
				li.item
					a(href="#") Hosting
				li.item
					a(href="#") Dibujo y Animación
	section.Hero
		.contenedor
			h2.title!= "Aloja tus sitios <br><strong>con una empresa <span>confiable</span></strong>"
			p.descripcion Conía en una empresa de tu localidad y con quien puedas tomar un cafe

			a.btn(href="#") Empieza Ahora

	section.Precios
		.contenedor
			h2.title Que Ofrecemos
			p.descripcion Escoge un plan Hosting y enlazalo a tu dominio
			.contenedor
				.item
					h3.title Gravedad Basico
					span.precio!= "Empieza con <span>18$</span> / año"
					p.descripcion Es el mejor plan que podras obtener. Con 500 MB en disco. 5 GB ancho de banda. 25 cuentas de correo y mas.
					a.btn(href="#") Ver el plan
				.item
					h3.title Gravedad personal
					span.precio!= "Empieza con <span>18$</span> / año"
					p.descripcion Si buscal al mejor, este es tu plan. Con 1 GB de espacio. 10 GB ancho de banda. 50 cuentas de correo, y pare de contar.
					a.btn(href="#") Ver el plan
				.item
					h3.title Gravedad Plus
					span.precio!= "Empieza con <span>18$</span> / año"
					p.descripcion Más siempre es bueno. Con 2 GB en disco. 20 GB ancho de banda 25 cuentas de correo y más.
					a.btn(href="#") Ver el plan
	section.Diseno
		.container
			.item
				h2.title Diseño web
				p.descripcion.
					Somos una empresa de diseño web y programación web con 9 años de experiencia; utilizamos las mejores herramientas front-end para desarrollar tu proyecto web.
				p.descripcion.
					En Peru Gravity usamos: html5, css3, jquery, javascript, json, stylus, normalizer, modernizer, node.js, backbone.js. Tu empresa se merece solo lo mejor.
				a.btn(href="#") Mas detalles
			.item
				img.img(src="img/equipo.jpg", alt="#")
	section.Portafolio
		h2.title Nuestro Trabajo
		ul.menu
			li
				a(href="#") Todos
			li
				a(href="#") Diseño
			li
				a(href="#") Alojamiento
			li
				a(href="#") Animación
		.contenedor
			a(href="#").item
				img.img(src="img/proyecto01.jpg", alt="proyecto01")
			a(href="#").item
				img.img(src="img/proyecto02.jpg", alt="proyecto02")
			a(href="#").item
				img.img(src="img/proyecto03.jpg", alt="proyecto03")
			a(href="#").item
				img.img(src="img/proyecto04.jpg", alt="proyecto04")
			a(href="#").item
				img.img(src="img/proyecto05.jpg", alt="proyecto05")
			a(href="#").item
				img.img(src="img/proyecto06.jpg", alt="proyecto06")
	section.Testimonios
		.contenedor
			h2.title Testimonios
			p.testimonio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel metus eget dui sollicitudin semper ut et eros. Maecenas pellentesque ipsum a ipsum molestie, sit amet porttitor dui commodo.
			span.nombre Chris Patton

			ul.personas
				li
					a(href="#")
						img.img(src="img/perfil01.jpg", alt="perfil01")
				li
					a(href="#")
						img.img(src="img/perfil02.jpg", alt="perfil02")
				li
					a(href="#")
						img.img(src="img/perfil03.jpg", alt="perfil03")
	section.Mapa
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.6349177171105!2d-77.00740798563552!3d-12.068621291452718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c626a36e454d%3A0x336e4fe9b157f3ac!2s35%2C+Av+San+Luis+265%2C+La+Victoria+15019%2C+Per%C3%BA!5e0!3m2!1ses!2sve!4v1525188649787" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

	footer.Footer
		.informacion
			.contenedor
				.item
					h3.title Productos
					ul.menu
						li.item
							a(href="#") Diseño web
						li.item
							a(href="#") Hosting
						li.item
							a(href="#") Reseller Hosting
				.item
					h3.title Social
					ul.menu
						li.item
							a(href="#").fab.fa-twitter
						li.item
							a(href="#").fab.fa-facebook
						li.item
							a(href="#").fab.fa-skype
				.item
					h3.title Contacto
					ul.menu
						li.item
							a(href="tel:511-3453600") Ventas: (511) 3453600
						li.item
							a(href="#") Av. San Luis 256 # 34 - La Victoria
		.derechos
			span.copy &copy; 2018 PeruGravity Todos los Derechos Reservados
			span.autor!= "Diseño y Desarrollo por <a href='http://jesusrojas.com.ve'>Jesús Rojas</a>"
	
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")